html,
body {
    margin: 0 auto;
    height: 100%;
}

div#back-container {
    background-color: rgb(36, 39, 42);
    margin: 0 auto;
}

div#main-container {
    padding: 0.9% 10% 10px 10%;
    background-color: rgb(36, 39, 42);
    color: white;
    min-height: 91.1%;
}

div#main-container a {
    color: rgb(180, 198, 224);
}

div#footer-container {
    background-color: #343A40;
    color: white;
    width: 100%;
}

div#footer-content {
    margin: 0 10% 0 10%;
}

#userbar {
    margin-right: 10px;
}

#userbar a {
    color: gray;
    text-decoration: none;
}

#userbar a:hover {
    color: white;
}


#userbar span {
    color:gray;
}

span#username {
    color:white;
}

#userbar span:hover {
    cursor: default;
}

#footer-container ul {
    margin-bottom: 0px !important;
}

div#poster img {
    margin: auto;
    width: 47%;
    max-height: 80%;
}