<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Imago | {% block title %}In block{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'imago:index' %}">Home</a></li>
            <li><a href="{% url 'imago:contact' %}">Contact</a></li>
            <li><a href="{% url 'imago:about' %}">About</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>