{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
<p>If you do not open this door, we shall take this castle by force! [splat] In the name of God and the glory of our-- [splat] Right! That settles it! Oh, shut up and go and change your armor. Did you say 'shrubberies'? Look, you stupid bastard, you've got no arms left. What is your name? What an eccentric performance. I did say sorry about the 'old woman,' but from the behind you looked-- I'm not interested! Are you sure he's got one? To seek the Holy Grail.</p>
{% endblock content %}