{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<p>Look, please! In God's name, show me the Grail! Let us taunt it! It may become so cross that it will make a mistake. Wait! I can defeat them! There's only a hundred and fifty of them! Oh, well, excuse me, I-- Get off the bed! I am sworn to chastity! God be praised! No, really, honestly, I can go back and handle this lot easily! Zoot! I have seen it, I have seen it. I have seen-- Look, can you tell us wh- [boom]

</p>
{% endblock content %}