{% extends 'base.html' %}
{% block page_title %} {{ play.title }} {% endblock page_title %}
{% block page_header %} {{ play.title }} {% endblock page_header %}
{% block content %}
<div id="poster">
    <img src="{{ play.cover.url }}" alt="{{ play.title }}">
</div>
<div id="gallery">
    {% for image in play.images.all %}
        <img src=" {{ play.image.url }} " alt="Image">
    {% endfor %}
</div>
<p>Description: {{ play.description }}</p>
<p>Cast: 
    <ul>
        {% for member in play.members.all %}
            <li>{{ member.get_full_name }}</li>
        {% endfor %}
    </ul>
</p>
<p>Awards:
    <ul>
        {% for award in play.awards.all %}
            <li>{{ award.name }}</li>
        {% endfor %}
    </ul>
</p>
<p>Venues:
    <ul>
        {% for venue in play.venues.all %}
            <li><a href="{{ venue.location }}">{{ venue.name }}</a></li>
        {% endfor %}
    </ul>
</p>
{% endblock content %}