{% extends 'base.html' %}
{% block page_title %} {{ member.first_name }} {% endblock page_title %}
{% block page_header %} {{ member.get_full_name }} {% endblock page_header %}
{% block content %}
<p>{{ member.get_full_name }}</p>
<p>{{ member.description }}</p>

{% if member.facebook or member.instagram %}
    <h4>Social</h4>
    {% if member.facebook %}
        <p><a href="{{ member.facebook }}">Facebook</a></p>
    {% endif %}
    {% if member.instagram %}
        <p><a href="{{ member.instagram }}">Instagram</a></p>
    {% endif %}
{% endif %}
{% endblock content %}