{% extends 'base.html' %}
{% block page_title %} {{ play.title }} {% endblock page_title %}
{% block page_header %} {{ play.title }} {% endblock page_header %}
{% block content %}
<p>Description: {{ play.description }}</p>
<p>Cast: 
    <ul>
        {% for member in play.members.all %}
            <li>{{ member.get_full_name }}</li>
        {% endfor %}
    </ul>
</p>
<div id="gallery">
    <p>Photo Gallery</p>
    {% for photo in play.gallery.photos.all %}
        <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}">
    {% endfor %}
    
</div>
<p>Awards:
    <ul>
        {% for award in play.awards.all %}
            <li>{{ award.name }}</li>
        {% endfor %}
    </ul>
</p>
<p>Venues:
    <ul>
        {% for venue in play.venues.all %}
            <li><a href="{{ venue.location }}">{{ venue.name }}</a></li>
        {% endfor %}
    </ul>
</p>
{% endblock content %}